.artist {
	float: left;
	width: 33.33333333%;
	height: 100px;
	padding: 0 0;
	margin: 0 0;
	background-size: cover;
	background-position: 50% 50%;
	cursor: pointer;
	@include mq(nexus) {
		height: 225px;
	}
	@include mq(tablet) {
		height: 250px;
	}
	@include mq(desktop) {
		height: 100px;
	}
}

.artist-container {
	float: left;
	position: relative;
	@include span-columns(12);
	height: 100%;
	min-height: auto;
	padding-top: 75px;
	overflow-y: auto;
	@include box-sizing(border-box);
	.artist-search {
		margin-bottom: 20px;
		@include shift(2);
		@include span-columns(8);
		@include mq(tablet) {
			@include shift(4);
			@include span-columns(4);
		}
		@include mq(desktop) {
			@include shift(2);
			@include span-columns(8);
		}
		input[type="text"] {
			border: solid 2px $navyBlue;
			border-radius: 15px;
			outline: none;
			background: transparent;
			@include placeholder {
				font-family: $gothamBook;
				color: $navyBlue;
				text-align: center;
			}
			&:focus {
				box-shadow: none !important;
				outline: none !important;
			}
		}
	}
}

.controller {
	overflow-y: hidden;
}